In [ ]:
"""This case study consists of 1000 marks and the solution file is expected to be submitted 
in the upcoming session for evaluation."""

In [220]:
#Step 1. Import the necessary libraries¶
import pandas as pd
import numpy as np

In [120]:
#Step 2. Import the dataset chipotle.tsv.¶
#Read using pd.read_csv

path=r"https://raw.githubusercontent.com/TheUpshot/chipotle/master/orders.tsv" #Provide path here
chipo = pd.read_csv(path, sep = '\t') #Read file using pandas

In [121]:
#Step 3. See the first 10 entries¶
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [222]:
#Step 4. What is the number of observations in the dataset?¶
# Solution 1
 # entries <= 4622 observatio

chipo.shape[0]

4622

In [123]:
#Step 5. What is the number of columns in the dataset?¶

len(chipo.columns)

5

In [124]:
#Step 6. Print the name of all the columns.


chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [125]:
#Step 7. How is the dataset indexed?

chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [126]:
#Step 8. Which was the most-ordered item?
#(Replace *** with proper answer)
c = chipo.groupby('item_name') #Group by item_name 
c = c.sum()                    #Get total items using sum
c = c.sort_values(['quantity'], ascending=False) #Sort quantity in descending order
c.head(1)                     #Display the first

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [127]:
#Step 9. What was the most ordered item in the choice_description column?
#Same as above use choice_description
# Diet Coke 159

c = chipo.groupby('choice_description')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [128]:
#Step 10. How many items were ordered in total?

chipo.quantity.sum()

4972

In [129]:
#Step 11. Turn the item price into a float
#Step 11.a. Check the item price type

chipo.item_price.dtype

dtype('O')

In [130]:
#Step 11.b. Change the type of item price

dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

In [131]:
#Step 11.c. Check the item price type

chipo.item_price.dtype

dtype('float64')

In [132]:
#Step 12. How much was the revenue for the period in the dataset?

revenue = (chipo['quantity']* chipo['item_price']).sum()

print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

In [133]:
# Step 13. How many orders were made in the period?

orders = chipo.order_id.value_counts().count()
orders

1834

In [134]:
#Step 14 What is the average revenue amount per order?¶

chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

In [60]:
#Step 15. How many different items are sold?

chipo.item_name.value_counts().count()

50

In [192]:
#Step 16. How many products cost more than $10.00? Please follow the comment.
#Replace ** with proper ans

# delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])

# select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]

chipo_one_prod[chipo_one_prod['item_price']>10].item_name.nunique()

12

In [ ]:
#Step 17. What is price of each item with most to least expensive?
#Select a data frame with only two columns item_name and item_price
# select only the item_name and item_price columns
       
# sort the values from the most to less expensive

In [214]:
price_per_item = chipo.reindex(columns = ['item_name','item_price'])

In [216]:
#Step 18. Sort by the name of the item

price_per_item.sort_values(by='item_name')

              item_name  item_price
3389  6 Pack Soft Drink       12.98
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
3422  6 Pack Soft Drink        6.49
553   6 Pack Soft Drink        6.49
1916  6 Pack Soft Drink        6.49
1922  6 Pack Soft Drink        6.49
1937  6 Pack Soft Drink        6.49
3836  6 Pack Soft Drink        6.49
298   6 Pack Soft Drink        6.49
1976  6 Pack Soft Drink        6.49
1167  6 Pack Soft Drink        6.49
3875  6 Pack Soft Drink        6.49
1124  6 Pack Soft Drink        6.49
3886  6 Pack Soft Drink        6.49
2108  6 Pack Soft Drink        6.49
3010  6 Pack Soft Drink        6.49
4535  6 Pack Soft Drink        6.49
4169  6 Pack Soft Drink        6.49
4174  6 Pack Soft Drink        6.49
4527  6 Pack Soft Drink        6.49
4522  6 Pack Soft Drink        6.49
3806  6 Pack Soft Drink        6.49
2389  6 Pack Soft Drink        6.49
3132  6 Pack Soft Drink        6.49
3141  6 Pack Soft Drink        6.49
639   6 Pack Soft Drink        6.49
1026  6 Pack Soft Drink        6.49
...                 ...         ...
2996       Veggie Salad        8.49
3163       Veggie Salad        8.49
4084       Veggie Salad        8.49
1694       Veggie Salad        8.49
2756       Veggie Salad        8.49
4201  Veggie Salad Bowl       11.25
1884  Veggie Salad Bowl       11.25
455   Veggie Salad Bowl       11.25
3223  Veggie Salad Bowl       11.25
2223  Veggie Salad Bowl        8.75
2269  Veggie Salad Bowl        8.75
4541  Veggie Salad Bowl        8.75
3293  Veggie Salad Bowl        8.75
186   Veggie Salad Bowl       11.25
960   Veggie Salad Bowl        8.75
1316  Veggie Salad Bowl        8.75
2156  Veggie Salad Bowl       11.25
4261  Veggie Salad Bowl       11.25
295   Veggie Salad Bowl       11.25
4573  Veggie Salad Bowl        8.75
2683  Veggie Salad Bowl        8.75
496   Veggie Salad Bowl       11.25
4109  Veggie Salad Bowl       11.25
738   Veggie Soft Tacos       11.25
3889  Veggie Soft Tacos       16.98
2384  Veggie Soft Tacos        8.75
781   Veggie Soft Tacos        8.75
2851  Veggie Soft Tacos        8.49
1699  Veggie Soft Tacos       11.25
1395  Veggie Soft Tacos        8.49

[4622 rows x 2 columns]

In [217]:
#Step 19. How many times were a Veggie Salad Bowl ordered?

chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)

18

In [218]:
#Step 20. How many times people orderd more than one Canned Soda?¶

chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(chipo_drink_steak_bowl)

20